svn_root=https://open1x.svn.sf.net/svnroot/open1x
base_branch=trunk
#admin_email=open1x-developers@lists.sourceforge.net
branch_root=branches

<Build SeaAnt>
  # SeaAnt-disconnect-at-logoff:43
  <AddBranch SeaAnt-disconnect-at-logoff>
    start_revision=43
    end_revision=HEAD
  </AddBranch>

  # SeaAnt-startup-resequence:43
  <AddBranch SeaAnt-startup-resequence>
    start_revision=43
    end_revision=HEAD
  </AddBranch>

  # SeaAnt-wmi-removal:43
  # Merged to trunk at -r84
  #<AddBranch SeaAnt-wmi-removal>
  #  start_revision=43
  #  end_revision=HEAD
  #</AddBranch>

  # SeaAnt-wzc-control:43
  <AddBranch SeaAnt-wzc-control>
    start_revision=43
    end_revision=HEAD
  </AddBranch>

  # SeaAnt-core-bugfixes:53
  <AddBranch SeaAnt-core-bugfixes>
    start_revision=53
    end_revision=HEAD
  </AddBranch>

  # SeaAnt-miscellaneous-bugfixes:53
  <AddBranch SeaAnt-miscellaneous-bugfixes>
    start_revision=53
    end_revision=HEAD
  </AddBranch>

  # SeaAnt-libtnc-1.18-upgrade:53
  <AddBranch SeaAnt-libtnc-1.18-upgrade>
    start_revision=53
    end_revision=HEAD
  </AddBranch>

  # SeaAnt-unix-cleanup:70
  <AddBranch SeaAnt-unix-cleanup>
    start_revision=70
    end_revision=HEAD
  </AddBranch>

</Build>